---
name: Check Spelling

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  
jobs:
  build:
    name: Check Spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Check Spelling
        uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
