---
name: Lint Code Base

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  statuses: write

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0
          persist-credentials: false

      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8.2.1
        env:
          LINTER_RULES_PATH: /
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JSCPD: false
          VALIDATE_GITLEAKS: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          VALIDATE_PYTHON_RUFF_FORMAT: false
          PYTHON_PYLINT_CONFIG_FILE: .pylintrc
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
